@import "tailwindcss";



@layer utilities{
    .animate-in{
        animation-fill-mode:both;
    }
    .slide-in-from-top{
        animation-name:slideInFromTop;
    }
    .slide-in-from-bottom{
        animation-name:slideInFromBottom;
    }
    .duration-200{
        animation-duration: 200ms;
    }
    .duration-300{
        animation-duration: 300ms;
    }
    .duration-700{
        animation-duration: 700ms;
    }
    .duration-100{
        animation-duration: 100ms;
    }
    .duration-200{
        animation-duration: 200ms;
    }
    .duration-300{
        animation-duration: 300ms;
    }
}

@keyframes slideInFromBottom{
    from{
        opacity:0;
        transform:translateY(1rem)
    }
    to{
        opacity:1;
        transform:translateY(0)
    }

}

@keyframes slideInFromTop{
    from{
        opacity:0;
        transform:translateY(-1rem)
    }
    to{
        opacity:1;
        transform:translateY(0)
    }

}